@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none;}
i,em{ font-style:normal;}
b,strong{ font-weight:normal;}
.fl{ float:left;}
.fr{ float:right;}
.box{ width:1349px; height:4545px; }
.wrap{ width:1170px; margin:0 auto;}
.clearfix:after{ content:''; display:block; clear:both;}
.clearfix{ zoom:1;}
.main_c_ma .gold{ color:#f76120;}